body {
  margin: 0px;
}

.main-content {
  padding: 72px 8px 8px 8px;
  height: calc(100vh - 64px);
}

.mdc-card__action-buttons {
  width: 100%;
}

.component-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}